@model IEnumerable<WebMvc.Models.TaskViewModel>
@{
    ViewData["Title"] = "My Todo List";
}
<h2>My Todo List</h2>
<p>
    <a asp-action="Create">Create a new task</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | <a asp-action="ViewTask"
                    asp-route-id="@item.Id">View</a> | <form asp-action="DeleteTask" method="post" style="display:inline;">
                <input type="hidden" name="id" value="@item.Id" />
                <button type="submit">Delete</button>
            </form>
                </td>
            </tr>
        }
    </div>
}

    </tbody>
</table>
